name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: Termux
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'contribute '
        pr-message: 'Thank you for contributing to this project'
